html, body {
    background-color: #423E59;
    font-family: "Space Grotesk";
    font-size: 20px;
    padding-top: 40px;
    height: auto;
    width: 100%;
}

.button {
    background-color: #E9DEE3;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: none;
    font-size: 18px;
    color: black;
    text-align: center;
}

#calculette {
    background-color: #D5C2E0;
    height: 540px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    margin: 0 auto;
    padding: 20px 34px 10px 30px;
    width: 300px;
}

#display-container {
    position: relative;  
}

#display-answer {
    position: absolute;
    background-color: #F3EAEE;
    padding: 5px 10px;
    font-size: 30px;
    color:#894C87;
    width: 260px;
    top: 87px;
    left: 12px;
    border-radius: 50px;
    border: none;
    text-align: right;
    ;
}

#display-history {
    background-color: #E9DEE3;
    width: 100%;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: #C3ABD3 0px 2px 4px;
}

#button-placement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    justify-items: center;
}

#null {
    grid-column: 1 / span 2;
    width: 90%;
}

#result {
    font-size: 1.5em;
   grid-column: -2;
   background-color: rgb(231, 196, 223);
}

#erase {
    background-color: rgb(231, 196, 223);
    font-weight: 500;
    font-size: 1.2em;
}

#history {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #AFA4AB;
    font-size: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    font-size: 10px;
    color: white;
    font-weight: 100;

}

